---
train_n_vars: [2, 5, 10, 20, 30, 40, 50]
test_n_vars: [20, 100]
test_n_datasets: 25
data:
  - n_observations_obs: 600
    n_observations_int: 200

    graph:
      - __class__: ScaleFree
        edges_per_var: [ 1, 2, 3 ]
        power: [ 1.0 ]
      - __class__: ScaleFreeTranspose
        edges_per_var: [ 1, 2, 3 ]
        power: [ 1.0 ]
      - __class__: ErdosRenyi
        edges_per_var: [ 1.0, 2.0, 3.0 ]

    mechanism:
      - __class__: RFFAdditive

        length_scale:
          - __class__: Uniform
            low: 7.0
            high: 10.0

        output_scale:
          - __class__: Uniform
            low: 10.0
            high: 20.0

        bias:
          - __class__: Uniform
            low: -3.0
            high: 3.0

        noise:
          - __class__: Gaussian

        noise_scale:
          - __class__: Uniform
            low: 0.2
            high: 2.0

        n_interv_vars: -1
        interv_dist:
          - __class__: SignedUniform
            low:  1.0
            high: 3.0
